.home-title {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 1em;
  background-color: #01c3a7;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  text-align: center;
}

