
.wrapper {
  background-color: $green;
  padding: 20px 20px;
}

.sub-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#top-right {
  position: sticky;
  height: 100vh;
  top: 0;
}

