
.sub-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.wrapper {
  background-color: $green;
  padding: 10px 10px 10px 10px;
}

.card-service {
  position: relative;
  padding: 20px 20px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  p {
    margin: 0;
  }

  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .top-right {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.card-review {
  height: auto;
}

.reviews {
  height: auto;
  margin-top: 60px;
}

#top-right {
  position: sticky;
  height: 100vh;
  top: 0;
}

.img-service {
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 140px;
}

.align {
  margin-top: 50px;
  margin-bottom: 20px;
}
