<% if user_signed_in? %>
<ul class="list-inline">
  <li class="list-inline-item"><div class= "navbar-wagon-item navbar-wagon-link"><%= link_to('Show my bookings', root_path) %></div></li>
  <li class="list-inline-item"><div class= "navbar-wagon-item navbar-wagon-link"><%= link_to('Add new performance', root_path) %></div></li>
</ul>
<% else %>
  <div class="navbar-wagon-item navbar-wagon-link"><%= link_to('New visitor? Become a ClapClap showman', new_user_registration_path)  %></div>
<% end %>

