<div class="container">
  <div class="row">
    <div id="home-title" class="col-xs-12">
    Rencontre les talents les plus chauds de ta région
    </div>
  </div>
  <div class="row">
    <% 10.times do %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <!-- image en haut de la carte -->
        <div class="card-image" style="background-image: url(<%=image_url("lancer_nain.jpg")%>);">
        </div>
        <!-- contenu de la carte Cat/Ville/Tagline/Prix -->
        <div class="card-content">
          <div class="card-left-part">
            <div class="category-city">
              <%= "Sosie · Poitiers".upcase %>
            </div>
            <div class="card-description">
              Sosie Vocal de Johnny
            </div>
          </div>
          <div class="card-price">
            <%= "35" + "€" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
