<div class="conteneurflex">
  <div class="Aligner-item">Rencontre les talents les plus chauds de ta région</div>
</div>




</div>


<div class="container">
  <div class="row">
    <% 5.times do %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))"> <!-- TO DO : ajouter l'url de la photo -->
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Lanceur de nains</h2>
          <p>12 ans d'expérience</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
     </div>
    <% end %>

  </div>

</div>
