
.btn-submit {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: $green;
  color: white;
}

.button-try {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-weight:bold}
.button-try:before, .button-try:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
.button-try:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
.button-try:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
.button-try:hover:before, .button-try:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#fff}
.button-try:hover {color:#353535;background-color:#fff;border-color:#fff}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}

#blue {color:#01c3a7;border-color:#01c3a7}
#blue:before, #blue:after  {border-color:transparent}
#blue:hover:before, #blue:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#01c3a7;transform:rotateY(180deg)}
#blue:hover {color:#01c3a7;background-color:transparent;border-color:#01c3a7}
#blue .panel {max-width:960px;text-align:center;position:relative;margin:auto;}

#borderless {border-color:rgba(0,0,0,0);color:#01c3a7}
#borderless:hover {border-color:#01c3a7;background-color:transparent;color:#01c3a7}
#borderless:before, #borderless:after {border-color:transparent;}
#borderless:hover:before, #borderless:hover:after {width:calc(100% + 12px); height:calc(100% + 12px);border-color:#01c3a7}

a:hover{
  text-decoration: none;
}
